.category {
	max-width: 1230px;
	min-height: 862px;
	background: #FFFFFF;
	border-radius: 20px;
	margin: 0 auto;
	padding: 30px 30px;
}

.category-main {
	padding: 20px 20px 0;
	min-height: 290px;
	transition: all 1s ease;
	display: flex;
	flex-direction: row;
	justify-content: start;
	margin-bottom: 20px;
	text-decoration: none;
	color: inherit;
}

.film-image {
	margin-left: 10px;
	margin-right: 50px;
	max-width: 185px;
	max-height: 229px;
	border-radius: 15px;
}

.chooseGenres {
	color: red;
}