.main-header {
	display: flex;
	justify-content: space-between;
	padding: 35px 0;

	.title {
		font-weight: 700;
		font-size: 30px;
		margin-left: 200px;
		color: #fff;
		text-decoration: none;
	}

	nav {
		a {
			margin-left: 35px;
			font-weight: 400;
			font-size: 20px;
			line-height: 27px;
			color: #fff;
			text-decoration: none;

			&.linkActive {
				color: #E59C9C;
			}

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 200px;
			}
		}
	}

}