.mainFooter {
	display: flex;
	justify-content: space-between;
   align-items: center;
	height: 154px;
	background: #3A3A3A;
	height: 154px;
	margin-top: 30px;


	.title {
		font-weight: 700;
		font-size: 30px;
		margin-left: 200px;
		color: #fff;
	}

	.description {
		color: #fff;
	}

	.bio {
		color: #fff;
		font-size: 20px;
		.madeBy {
			font-size: 13px;
			margin-top: 0px;
			margin-right: 345px;
		}
	}
}
